extends layout

block content
  .sidenav.sidenav-fixed
    .search-wrapper.center
      form(action='/', method='get')
        .input-field.col.s12
          input#searchquery.validate(type='text', name='tags')
          button.btn.waves-effect.waves-light.centre.indigo(type='submit', value='Submit')
            | Search
            i.material-icons.right search
    .collection
      each val in tags
        .collection-item.indigo-text#test
          | #{val}
  .main(style='padding-left: 300px;')
    .center
      h1 TweetStorm
      each val in title
        | #{val}
      #chart(style="width: 900px; height: 500px; display: block; margin: 0 auto;")
      #output

  .footer(style='padding-left: 300px;').page-footer.indigo
    .container
      .row
        .col.l6.s12
          h5.white-text CAB432 Assignment 2
          p.grey-text.text-lighten-4 TweetStorm, a legendary assignment worthy of a 7.
        .col.l4.offset-l2.s12
          h5.white-text Links
          ul
            li
              a.grey-text.text-lighten-3(href='http://twitter.com') Link Twitter
            li
              a.grey-text.text-lighten-3(href='https://www.nltk.org') Link NTLK
            li
              a.grey-text.text-lighten-3(href='http://compromise.cool') Compromise
            li
              a.grey-text.text-lighten-3(href='https://mlab.com') mLab
    .footer-copyright
      .container
        | © 2014 Copyright Text
  script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js')
  script(src="https://code.jquery.com/jquery-3.1.1.min.js")
  script(type='text/javascript').
    $(document).ready(function() {
      // TODO: Fix this
      let query = '';
      $(".collection-item").click(function(){
        query += $(this).text() + ','; 
        $('#searchquery').val(query);
      });
    });
  script(type='text/javascript').
    let tracking = '#{tracking}';
    let server = 'http://ts-server-lb-1418829415.ap-southeast-2.elb.amazonaws.com:3001/stats?tags='
    if (tracking !== 'none') {
      console.log("We have tags")
      console.log(tracking);
      google.charts.load('current', {
        callback: function () {
          var chart = new google.visualization.LineChart(document.getElementById('chart'));
          var options = {'title' : 'Average Sentiment over time!',
            animation: {
              duration: 3000,
              easing: 'out',
              startup: true
            },
            hAxis: {
              title: 'Time'
            },
            vAxis: {
              title: 'Sentiment',
              //minValue: -1,
              //maxValue: 1
            },
            height: 400,
            width: 1000,
            legend: { position: 'bottom' }
          };

          var data = new google.visualization.DataTable();
          let trends = '#{tracking}';
          console.log('Trends web: ' + tracking);
          $.ajax({
            url: server + encodeURIComponent(tracking),
            dataType: 'json'
            }).done(function (results) {
              console.log(results);
              data.addColumn('datetime', 'Time');
              $.each(results, function (i, row) {
                data.addColumn('number', row.tag);
              });
            })
            .fail(function (error) {
              console.log(error);
            });
          var formatDate = new google.visualization.DateFormat({pattern: 'hh:mm:ss'});
          var formatNumber = new google.visualization.NumberFormat({pattern: '#,##0.0'});
          getData();
          setInterval(getData, 3000);
          function getData() {
            $.ajax({
              url: server + encodeURIComponent(tracking),
              dataType: 'json'
              }).done(function (results) {
                console.log(results);
                drawChart(results);
              })
              .fail(function (error) {
                console.log(error);
              });
            }
          function drawChart(results) {
            let timeStamp = new Date();
            let magicdata = [timeStamp];
            $.each(results, function (i, row) {
                magicdata.push(row.sentiment)
                console.log(magicdata);
            })
            data.addRow(magicdata);
            formatDate.format(data, 0);
            chart.draw(data, options);
          }
        },
        packages:['corechart']
      });
    } else {
      console.log("We don't have tags")
    }